version: '3'
services:
  todofront:
    build: ./todo-app/front-end/
    ports:
      - 3000:3000
    depends_on:
      - todoback
    environment:
      - REACT_APP_API_HOST=todoback
      - REACT_APP_API_PORT=3001
    networks:
      - main-network
    restart: always
  todoback:
    build: ./todo-app/back-end/
    ports:
      - 3001:3001
    networks:
      - main-network
    restart: always
  todotests:
    build: ./todo-app/tests/
    depends_on:
      - todoback
      - todofront
    environment:
      - FRONT_HOST=todofront
      - FRONT_PORT=3000
    networks:
      - main-network
    restart: always
networks:
  main-network: